
@using Microsoft.AspNetCore.Authentication.Cookies;
@{
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrendyModa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrendyModa.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <div class="row my-5">

    </div>
    <header>
        <nav class="fixed-top navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black bg-gradient border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">TrendyModa</a>
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       @*  <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house me-1"></i>Ana Sayfa</a>
                        </li> *@

                        <li class="nav-item">
                            <a class="nav-link text-light" href=@Url.Action("PostAdd","Post")><i class="bi bi-camera me-1"></i>Gönderi Ekle</a>
                       </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("GetImage", "Post")"><i class="bi bi-images me-1"></i>Gönderilerim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("UsersList", "User")"><i class="bi bi-people me-1"></i>Kullanıcılar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" exit href="@Url.Action("LogoutIndex", "Account")"><i class="bi bi-escape me-1"></i>Çıkış Yap</a>
                        </li>
                       
                    </ul>
                   
                    
                    <partial name="LoginIndicator" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light bg-black bg-gradient">
        <div class="container">
            &copy; 2024 - TrendyModa - <a class="text-light btn-outline-primary" asp-controller="Home" asp-action="Privacy">Hüküm ve Koşullar</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
