@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Security.Claims
@{
    //kullanıcının sahip olduğu post sayısını tutan değişken
    int userPostCount = 0;
    ViewData["Title"] = "Gönderilerim";
}

@model IEnumerable<Photo>


<main role="main">
    <div class="album p-5 bg-light">
        <div class="container">
            <div class="row px-5">

                @* kullanıcının kaç tane post attğını döngü ile bulma işlemi*@
                @foreach (var item in Model)
                {
                    if (User.FindFirst(x => x.Type == "UserId").Value == item.UserId.ToString())
                    {
                        userPostCount++;
                    }
                }

                @* kullanıcı daha önce post atmış mı diye kontrol etme işlemi*@
                @if (userPostCount==0)
                {
                    <div>Henüz gönderi atmadınız. <a class="btn btn-success" asp-controller="Post" asp-action="PostAdd">Gönderi Ekle</a></div>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        @* burada login yapan kişinin id si ile database user id kontrol 
                        ekiliyor ki başkasının postu gözükmesin*@
                        if (User.FindFirst(x => x.Type == "UserId").Value == item.UserId.ToString())
                        {
                            string imageBase64 = Convert.ToBase64String(item.Image);
                            string imageSrc = String.Format("data:image;base64,{0}", imageBase64);
                            int likeCount = 0;
                            foreach (var like in item.Likes)
                            {
                                if (like.PhotoId == item.PhotoId)
                                {
                                    likeCount++;
                                }
                            }


                            <div class="row">
                                <div class="col-sm-0 col-lg-2 col-xxl-3"></div>
                                <div class="col-sm-12 col-lg-8 col-xxl-6">
                                    <div class="col-12">
                                        <div class="card mb-4 box-shadow border border-3 rounded">
                                            <p style="font-weight: bold;" class="card-text ms-3 mt-3">@item.User.Username</p>
                                            <img class="card-img-top rounded-3" src="@imageSrc" alt="Card image cap">
                                            <div class="card-body">
                                                <p class="card-text border-bottom border-2">@item.Description</p>

                                                <span style="color:rgb(186, 6, 90)" class="d-block">@likeCount Beğeni</span>
                                                    <br />
                                                    <div class="btn-group">
                                                        <form asp-controller="Like" asp-action="LikeAdd" method="post">
                                                            <input type="hidden" value="@item.PhotoId" />
                                                            <button type="submit" class="btn btn-sm btn-outline-success">Beğen</button>
                                                        </form>
                                                        <a type="button" class="btn btn-sm btn-outline-success" asp-controller="Like" asp-action="LikeList" asp-route-id="@item.PhotoId">Beğenenler</a>
                                                        </div>
                                                       
                                                        <div class="btn-group">
                                                        <a type="button" class="btn btn-sm btn-outline-warning">Düzenle</a>
                                                        <a type="button" class="btn btn-sm btn-outline-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@item.PhotoId">Sil</a>
                                                    </div>
                                                    <br />
                                                <div class="mt-2"> <small class="text-muted">Oluşturma Tarihi: @item.CreatedAt</small></div>
                                                   
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-0 col-lg-2 col-xxl-3"></div>
                            </div>

                           
                        }
                    }
                }
            </div>
        </div>
    </div>
</main>

