@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TrendyModa.Models.User
@{
    ViewData["Title"] = "Profilim";
}

<partial name="ReturnHome" />


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
        </div>
        <div class="col-md-5 border-right">

                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="text-right">Profilim</h4> <a class="btn btn-sm btn-outline-primary" style="border: none" asp-controller="UserProfile" asp-action="MyAccountEditIndex">Profili Düzenle</a>
                    </div>
                    <div class="border-top border-3 mb-3" style="color: #682773"></div>
                    <div class="row mt-2">
                        <div class="col-md-12"><label class="labels">Kullanıcı Adı</label><input readonly asp-for="Username" type="text" class="form-control" placeholder="Kullanıcı Adı" value="@Model.Username"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">İsim</label><input readonly asp-for="Name" type="text" class="form-control" placeholder="İsim" value="@Model.Name"></div>
                        <div class="col-md-6"><label class="labels">Soyisim</label><input readonly asp-for="Lastname" type="text" class="form-control" value="@Model.Lastname" placeholder="Soyisim"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">E-Posta</label><input readonly asp-for="Email" type="text" class="form-control" placeholder="enter email id" value="@Model.Email"></div>
                    </div>
                <div class="row mt-3">
                    <div class="col-md-12"><a class="btn btn-outline-info" asp-controller="Follow" asp-action="Followers" asp-route-id="@Model.UserId">Takipçiler</a></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><a class="btn btn-outline-info" asp-controller="Follow" asp-action="Followings" asp-route-id="@Model.UserId">Takip Edilenler</a></div>
                </div>
                </div>
        </div>
    </div>
</div>